<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RSS Reader</title>
    <script>
    </script>
  </head>
  <body>
    <h1><%= feed.title %></h1>
    <ol start="0">
      <% for (const item of feed.items) { %>
        <li>
          <a href="<%= item.link %>"><%= item.title %></a>
          <p><%= new Date(item.pubDate) %></p>
        </li>
      <% } %>
    </ol>
  </body>
</html>
